@model IEnumerable<CRMWebApp.Models.Employee>

<table id="collapse-table" class="table">
    <thead>
        <tr>
            <th>
                <input type="submit" name="actionButton" value="Name" class="btn-link" />
            </th>
            <th>
                <input type="submit" disabled="disabled" value="Position" class="btn-link" />
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-toggle="collapse" data-target="#collapsed-row-@item.ID" class="collapsed collapsible-row">
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem =>item.JobPosition.Name)</td>
            </tr>
            <tr>
                <td colspan="4">
                    <!-- Collapse on the div because animations do not work on the td -->
                    <div id="collapsed-row-@item.ID" class="collapse collapsed-row" data-parent="#collapse-table">
                        <div class="details-container">
                            <ul>
                                <li><span>@Html.DisplayNameFor(modelItem => item.FirstName):</span> @Html.DisplayFor(modelItem => item.FirstName)</li>
                                <li><span>@Html.DisplayNameFor(modelItem => item.LastName):</span> @Html.DisplayFor(modelItem => item.LastName)</li>
                                <li><span>@Html.DisplayNameFor(modelItem => item.Email):</span> @Html.DisplayFor(modelItem => item.Email)</li>
                                <li><span>@Html.DisplayNameFor(modelItem => item.JobPosition):</span> @Html.DisplayFor(modelItem => item.JobPosition.Name)</li>
                                <li><span>@Html.DisplayNameFor(modelItem => item.EmploymentType):</span> @Html.DisplayFor(modelItem => item.EmploymentType.Name)</li>
                                <li><span>@Html.DisplayNameFor(modelItem => item.CellPhone):</span> @Html.DisplayFor(modelItem => item.CellPhoneNumber)</li>
                                <li><span>@Html.DisplayNameFor(modelItem => item.HomePhone):</span> @Html.DisplayFor(modelItem => item.HomePhoneNumber)</li>
                                <li><span>@Html.DisplayNameFor(modelItem => item.DateJoined):</span> @Html.DisplayFor(modelItem => item.DateJoined)</li>
                                <li><span>@Html.DisplayNameFor(modelItem => item.EmergencyContactName):</span> @Html.DisplayFor(modelItem => item.EmergencyContactName)</li>
                                <li><span>@Html.DisplayNameFor(modelItem => item.EmergencyContactPhone):</span> @Html.DisplayFor(modelItem => item.EmergencyContactPhoneNumber)</li>
                            </ul>
                        </div>
                        @{
                            if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> @: |
                            }
                            <a asp-action="Details" asp-route-id="@item.ID"> Details </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>