@model CRMWebApp.Models.Employee

@{
	ViewData["Title"] = "Account";
}

<h1>Account for: @Model.FullName</h1>


<div>
	<hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobPosition.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Province.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CellPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomePhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactPhoneNumber)
        </dd>
    </dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.ID">Edit Account Details</a>
</div>