@model IEnumerable<CRMWebApp.Models.Company>

<table class="table">
    <thead>
        <tr>
            <th>
                <input type="submit" name="actionButton" value="Name" class="btn-link" />
            </th>
            <th>
                <input type="submit" disabled="disabled" value="Location" class="btn-link" />
            </th>
            <th>
                <input type="submit" disabled="disabled" value="Phone" class="btn-link" />
            </th>
            <th>
                <input type="submit" disabled="disabled" value="Billing Address" class="btn-link" />
            </th>
            <th>
                <input type="submit" disabled="disabled" value="Contractor Type" class="btn-link" />
            </th>
            <th>
                <input type="submit" disabled="disabled" value="Customer Type" class="btn-link" />
            </th>
            <th>
                <input type="submit" disabled="disabled" value="Vendor Type" class="btn-link" />
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
				<td>
					<a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
				</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingCity) -
                    @Html.DisplayFor(modelItem => item.BillingAddress1)

                </td>
                <td>
                    @{
                        int contractCount = item.CompanyContractorTypes.Count;
                        if (contractCount > 0)
                        {
                            string firstContract = item.CompanyContractorTypes.FirstOrDefault().ContractorType.Name;
                            if (contractCount > 1)
                            {
                                string contractList = firstContract;
                                var c = item.CompanyContractorTypes.ToList();
                                for (int i = 1; i < contractCount; i++)
                                {
                                    contractList += ", " + c[i].ContractorType.Name;
                                }
                                <a tabindex="0" class="" role="button" data-toggle="popover"
                                   data-trigger="focus" title="Contractor Types" data-placement="bottom" data-content="@contractList">@firstContract... <span class="badge badge-info" style="background-color: #900028">@contractCount</span></a>
                            }
                            else
                            {
                                @firstContract
                            }
                        }
                    }
                </td>
                <td>
                    @{
                        int customerCount = item.CompanyCustomerTypes.Count;
                        if (customerCount > 0)
                        {
                            string firstCustomer = item.CompanyCustomerTypes.FirstOrDefault().CustomerType.Name;
                            if (customerCount > 1)
                            {
                                string customerList = firstCustomer;
                                var c = item.CompanyCustomerTypes.ToList();
                                for (int i = 1; i < customerCount; i++)
                                {
                                    customerList += ", " + c[i].CustomerType.Name;
                                }
                                <a tabindex="0" class="" role="button" data-toggle="popover"
                                   data-trigger="focus" title="Customer Types" data-placement="bottom" data-content="@customerList">@firstCustomer... <span class="badge badge-info" style="background-color: #900028">@customerCount</span></a>
                            }
                            else
                            {
                                @firstCustomer
                            }
                        }
                    }
                </td>
                <td>
                    @{
                        int vendorCount = item.CompanyVendorTypes.Count;
                        if (vendorCount > 0)
                        {
                            string firstVendor = item.CompanyVendorTypes.FirstOrDefault().VendorType.Name;
                            if (vendorCount > 1)
                            {
                                string vendorList = firstVendor;
                                var v = item.CompanyVendorTypes.ToList();
                                for (int i = 1; i < vendorCount; i++)
                                {
                                    vendorList += ", " + v[i].VendorType.Name;
                                }
                                <a tabindex="0" class="" role="button" data-toggle="popover"
                                   data-trigger="focus" title="Vendor Types" data-placement="bottom" data-content="@vendorList">@firstVendor... <span class="badge badge-info" style="background-color: #900028">@vendorCount</span></a>
                            }
                            else
                            {
                                @firstVendor
                            }
                        }
                    }
                </td>
                <td>
                    @{
                        if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> @: |
                        }
                        <a asp-action="Details" asp-route-id="@item.ID"> Details </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>