@model CRMWebApp.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-12 col-md-10 col-xl-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellPhone" class="control-label"></label>
                <input asp-for="CellPhone" class="form-control" />
                <span asp-validation-for="CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPhone" class="control-label"></label>
                <input asp-for="WorkPhone" class="form-control" />
                <span asp-validation-for="WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" checked asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label"></label>
				<input asp-for="Company.Summary" id="Company" class="form-control" placeholder="Search for a Company"/>
                <input asp-for="CompanyID" type="hidden" id="CompanyID" name="companyID" />
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label"> Categories Assigned</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label"> Choose Categories</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <input id="btnSubmit" type="submit" value="Create and Finish" name="finish" class="btn btn-primary" />
                <input id="btnSubmit" type="submit" value="Create and Add Another" name="add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href='@ViewData["returnURL"]'>Back to List of Contacts</a>
</div>
@section Styles {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multiselect.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
        $('#Company').autocomplete({
            minLength: 1,
            delay: 100,
            source: '@Url.Action("GetCompanies","Contacts")',
            search: function (event, ui) {
                console.log($('#Company')[0].value);
                $('#Company')[0].value = $('#Company')[0].value.split(' ').map(function (word) {
					return (word.charAt(0).toUpperCase() + word.slice(1));
                }).join(' ');
            },
            select: function (event, ui) {
                $("#Company").val(ui.item.label); // display the selected text
                $("#CompanyID").val(ui.item.id); // save selected id to hidden input
         }
    });
    </script>
}
